@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

.container {
  height: 170px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-left: 188px;
  width: 315px;
  height: 72px;
  top: 143px;
  left: 188px;

  font-family: Poppins;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.content {
  margin-left: 188px;

  gap: 15px;
  width: 975px;
  height: 72px;
  top: 220px;
  left: 188px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5a5959;
}
